.icon-bannerclose@2x{background-image: url('sprite.png');background-position: 0px -493px; width:32px;display:inline-block;height:32px;}
.icon-bannerdetail@2x{background-image: url('sprite.png');background-position: 0px 0px; width:665px;display:inline-block;height:488px;}
.icon-bannerdown@2x{background-image: url('sprite.png');background-position: -37px -493px; width:20px;display:inline-block;height:17px;}
